<table>
  <tr>
    <th>Player</th>
    <th>Score</th>
    <th>&nbsp;{% if iscached %}<span class="deemph">cached</span>{% endif %}</th>

  </tr>
{% for object in object_list %}
  <tr class="{% if object.id == user.id %}highlighted{% endif %}">
    <td>{{ object.first_name|default:object.username|cut:object.last_name }}</td>
    <td>{{ object.num_hits }}</td>
    <td>{% if object.id == user.id %}<span class="deemph">you!</span>&nbsp;{% endif %}{% if forloop.first %}&#x1F451;{% endif %}</td>
  </tr>
{% endfor %}
</table>
